/* * {
    margin: 0;
    padding: 0;
} */

.container {
    margin: 20px 40px;
}

.text-center {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

hr {
    margin: 20px 0;
}

.active {
    background-color: #9270D3;
    transition: 0.5s all ease-out;
}

.active_2 {
    background-color: #FF6998;
    transition: 0.5s all ease-out;
}

p::selection {
    color: #fff;
    background-color: #000;
}

p::first-letter {
    font-size: 25px;
    color: red;
}